$mainColor1 : #2987be;
$mainColor2 : #1059b8;

*{
  font-family: "Montserrat Medium", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.timer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
  &__block{
    width: 150px;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .time{
      background-color: $mainColor1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      font-size: 95px;
    }
    .title{
      background-color: $mainColor2;
      padding: 5px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
    }
  }
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 120px auto;
  .button{
    border: none;
    border-radius: 10px;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 10px;
    width: 180px;
    cursor: pointer;
    transition: .3s ease-in-out;
    &.start, &.stop{
      color: $mainColor1;
      &:hover{
        background-color: $mainColor2;
        color: #fff;
    }
    }
    &.pause{
      &:hover{
        background-color: #e03b8b;
        color: #fff;
      }
    }
  }
}